- if current_user
  - @areas.each do |area|
    %section.area-section
      %header= area.name
      .area-container{ style: area_styles(area) }
        .area
          - area.rooms.each do |room|
            .room{ data: { room_id: room.id }, style: room_styles(room) }
              .room-info
                = room.name
              - room.occupants.each do |user|
                .user{ style: user_styles(user) }
                  = user_photo(user)
                  .user-name
                    = short_user_name(user)
                  .checkin-time
                    = time_ago_in_words(user.checkins.last.created_at)
                    ago
- else
  .instructions
    You must log in to view this page.
