= render 'shared/breadcrumbs',
         breadcrumbs: { 'Areas' => areas_path,
                        @zone.area.name => area_path(@zone.area),
                        'Zones' => area_zones_path(@zone.area),
                        @zone.name => nil }

- if @checkins.count > 0
  = pluralize(@checkins.count, 'Checkin') + ':'
  %table.zone-checkins-list
    %thead
      %tr.caption
        %td= User
        %td= Time
    %tbody
      - @checkins.each do |checkin|
        %tr
          %td= link_to checkin.user.name, user_path(checkin.user)
          %td= time_ago_in_words(checkin.created_at) + ' ago'
